<form [formGroup]="testForm">
  <input type="text" placeholder="name" formControlName="name"/>
  <input type="text" placeholder="surname" formControlName="surname"/>
  <input type="text" placeholder="nickname" formControlName="nickname"/>  
  <input type="text" placeholder="city" formControlName="city"/>  
  <input type="text" placeholder="street" formControlName="street"/>  
  <input type="text" placeholder="age" formControlName="age"/>  
  <input type="text" placeholder="birthday" formControlName="birthday"/>  
</form>
